.done {
  text-decoration-line: line-through;
  color: #8f94fb;
  opacity: 0.7;
}

.notdone {
  text-decoration-line: none;
  color: #4e54c8;
}

.todo {
  color: #4e54c8;
  font-size: 20px;

  &__input {
    font-weight: 600;

    border: 0;
    color: #4e54c8;

    font-size: inherit;
    padding: 16px;

    transition: all 0.5s ease;

    &::placeholder {
      color: inherit;
    }

    &:hover {
      background: transparent;
      color: white;

      &::placeholder {
        color: inherit;
      }
    }
  }

  &__button {
    font-weight: 600;

    color: #4e54c8;
    border: 0;

    font-size: inherit;
    padding: 16px;

    transition: all 0.3s ease;

    &:hover {
      background: transparent;
      color: white;
      scale: 1.1;
      translate: 4px;
    }
  }
}
